@use "variables" as v;

.arquitectos {
    @include v.flex(column,center,center,wrap);
    text-align: center;
    padding: v.$padding-secciones 20px;
    gap: 60px;

    div {
        max-width: 700px;
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 15px;
    }
    img {
        width: 500px;
        height: auto;
        margin: 0 auto 15px auto;
        border-radius: v.$border-radius;
    }
    
    p {
        font-size: 1.5rem;
        line-height: 1.6;
        color: #666;
    }
}