@use "variables" as v;

.buscador {
    @include v.flex(column, center, center, wrap);
    gap: 10px;
    margin: 40px 0;
    font-family: v.$fuente;

    .buscador__input {
        width: 300px;
        padding: 10px 15px;
        border: none;
        border-radius: 25px;
        background-color: v.$fondo-oscuro;
        font-size: 1rem;
    }

    .buscador__input:focus {
        box-shadow: v.$shadow-clara;
        background-color: v.$fondo-medio;
    }

    .buscador__boton {
        background-color: v.$fondo-medio;
        color: v.$fuente-primaria;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        transition: v.$transition;
    }

    .buscador__boton:hover {
        background-color: #444;
    }

}

.articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: v.$padding-secciones;
    padding: v.$padding-secciones;
    justify-items: center;

    article {
        text-align: center;
    }

    &__titulo {
        font-size: 2rem;
        margin-bottom: 10px;
        font-weight: 500;
    }

    &__img {
        width: 250px;
        height: auto;
        display: block;
        margin: 0 auto 10px auto;
    }

    &__parrafo {
        font-size: 1.5rem;
        color: v.$fuente-media;
        margin-bottom: 10px;
    }

    &__boton {
        background-color: v.$fondo-medio;
        color: v.$fuente-media;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color v.$transition;

        &:hover {
            background-color: #444;
        }
    }

    &__boton--agotado {
        background-color: v.$fondo-medio;
        color: v.$fuente-media;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        text-decoration: line-through;
        cursor: not-allowed;
    }

    @include v.desktop {

        grid-template-columns: repeat(2, 1fr);
    }

    @include v.tablet {
        grid-template-columns: 1fr;
        gap: 30px;
    }


    @include v.mobile {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 20px;
    }
}

#carouselExampleCaptions {
    max-width: 900px;
    margin: 40px auto; 

    h4 {
        font-size: 3rem;
        text-align: center;
    }

    img {
        border-radius: 10px; 
    }
    
    a {
        color: white;
        font-size: 1.5rem;
    }

    button {
        background: none;
    }
}


@include v.mobile {
    .buscador {
        flex-direction: column;
        width: 90%;
        margin: 20px auto;

        &__input {
            width: 100%;
        }
    }
}