@use "variables" as v;


.titulo-programas {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px auto;

    h2 {
        font-size: 3rem;
        padding: 20px;
    }

    p {
        font-size: 1.5rem;
    }
}

.lista-programas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    article {
        text-align: center;
        background-color: v.$fondo-medio;
        border-radius: 10px;
        padding: 20px;
        box-shadow: v.$fondo-oscuro;
        transition: transform v.$transition, box-shadow v.$transition;

        &:hover {
            transform: translateY(-5px);
        }

        img {
            width: 120px;
            height: auto;
            margin: 10px auto;
            display: block;
            transition: transform v.$transition;

            &:hover {
                transform: scale(1.05);
            }
        }

        h3 {
            margin-bottom: 10px;
            font-size: 2rem;
            color: v.$fuente-media;
        }

        p {
            font-size: 1rem;
            color: v.$fuente-label;
        }
    }
}

.descargas {
    margin-top: 60px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 3rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 40px;

        li {
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: white;
                font-size: 2rem;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }



}