@use "variables" as v;

.lista-programas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 20px;
    padding: 0 20px;

    article {
        text-align: center;
        background-color: v.$fondo-oscuro;
        border-radius: 10px;
        padding: 20px;

    }
}