/* reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fin de reset de estilos*/

/* BODY */

body {
    font-family: "Smooch Sans", sans-serif;
    background-color: black;
    color: white;
    padding-top: 20vh;
}

/* HEADER */


.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
        url(../assets/fondob.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;

}


.navbar-brand {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 70px;
}


.offcanvas-body {
    color: white;
    padding: 30px;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    transform: translateY(-5px);
}

/* FIN HEADER */


/* MAIN index */

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
    font-family: "Smooch Sans", sans-serif;
}

.buscador__input {
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #34343a;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

.buscador__input:focus {
    box-shadow: 0 0 5px #999;
    background-color: #222;
}

.buscador__boton {
    background-color: #222;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.buscador__boton:hover {
    background-color: #444;
}

.articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
    justify-items: center;
}

.articulos article {
    text-align: center;
}

.articulos__titulo {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.articulos__img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.articulos__parrafo {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 10px;
}

.articulos__boton {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.articulos__boton:hover {
    background-color: #444;
}

/* MAIN ARQUITECTOS */

.arquitectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    gap: 60px;
}


.arquitectos div {
    max-width: 700px;
}


.arquitectos h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}


.arquitectos img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 8px;
}


.arquitectos p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #666;
}

/* FIN MAIN ARQUITECTOS */


/* MAIN RECURSOS */

.titulo-programas {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px auto;
}

.titulo-programas h2 {
    font-size: 3rem;
    padding: 20px;
}

.titulo-programas p {
    font-size: 1.5rem;
}


.lista-programas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.lista-programas article {
    text-align: center;
    background-color: #111;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lista-programas article:hover {
    transform: translateY(-5px);
}


.lista-programas article img {
    width: 120px;
    height: auto;
    margin: 10px auto;
    display: block;
    transition: transform 0.3s ease;
}

.lista-programas article img:hover {
    transform: scale(1.05);
}


.lista-programas article h3 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: white;
}

.lista-programas article p {
    font-size: 1rem;
    color: #999;
}


.descargas {
    margin-top: 60px;
}

.descargas h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.descargas ul {
    list-style-type: disc;
    padding-left: 40px;
}

.descargas li {
    margin-bottom: 10px;
}

.descargas a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.descargas a:hover {
    text-decoration: underline;
}

/* MAIN TUTORIALES */

.tutorial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
    padding: 50px;
    background: linear-gradient(to bottom, #000, #222);
}

.tutoriales {
    text-align: center;
    color: #fff;
    background-color: #111;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    width: 45vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.tutoriales:hover {
    transform: scale(1.02);
}

.tutoriales h2 {
    margin-bottom: 15px;
    font-size: 1.4rem;
    color: white;
}

.tutoriales iframe {
    width: 100%;
    border-radius: 10px;
    border: none;
}

/* fin main tutoriales /*

/* main NOSOTROS */

.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    background: linear-gradient(to bottom, #000 0%, #111 40%, #222 100%);
}

.contacto {
    background-color: #2c2c2c;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    color: #f5f5f5;
}

.contacto h2 {
    margin-bottom: 10px;
    font-size: 50px;
    color: #00bcd4;
}

.contacto h3 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 25px;
    color: #ccc;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    text-align: left;
    font-weight: 500;
    color: #ddd;
    font-size: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3a3a3a;
    color: white;
    outline: none;
    transition: background 0.3s ease;
}

input:focus {
    background-color: #4a4a4a;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #00bcd4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0097a7;
}

/* FIN MAIN NOSOTROS */

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    padding: 15px 40px;
}


footer h3 {
    margin: 0 10px 0 0;
    font-size: 0.9rem;
    font-weight: normal;
    display: inline-block;
}


footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}


footer ul li img {
    width: 20px;
    height: auto;
    transition: transform 0.3s;
}


footer ul li img:hover {
    transform: scale(1.2);
}